* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  color: rgb(16, 16, 16);
}

/* header div {
  background-color: rgb(255, 255, 255);
  border: solid rgb(16, 16, 16);
  border-radius: 2rem;
  padding: 0.25rem;
  max-height: 2.5rem;
} */

main {
  display: flex;
  justify-content: center;
}

.quiz-box {
  background-color: #3447b3;
  border: solid rgb(16, 16, 16);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 50%;
  /* display: contents; */
}

.quiz-box p {
  font-size: 1.5rem;
}

.high-score-box {
  display: none;
  justify-content: center;
  margin-top: 3rem;
}

.high-score-list {
  background-color: #3447b3;
  border: solid rgb(16, 16, 16);
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 15%;
  height: 100%;
}

.score-table {
  /* margin: 2rem; */
  width: 100%;
  height: 100%;
}

.quiz-box li,
header div,
button {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  border: solid rgb(16, 16, 16);
  border-radius: 2rem;
  margin: 0.5rem;
  padding: 0.25rem;
}

.quiz-box li:hover,
.high-score-btn:hover,
button:hover {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
}

/* button {
  border: solid rgb(16, 16, 16);
  border-radius: 2rem;
  margin: 0.5rem;
  padding: 0.25rem;
} */

/* button:hover {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
} */

.game-over {
  display: none;
}